.contextMenu {
    position: absolute;
    z-index: 9999;
    min-width: 200px;
    /* Asegura que el menú se superponga a otros elementos */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.contextMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contextMenu a {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.contextMenu a:hover {
    background-color: #ddd;
}

.contextMenu i {
    padding-left: 5px;
    padding-right: 10px;
}